.movie-list{
    display: flex; /* Makes the child elements flex items, aligning them horizontally by default */
   gap: 20px;
   flex-wrap: wrap;
}

.movie-card{
    flex: 1; 
}
#details-view{
     display: flex;
      gap: 30px;
}
.hidden{
    display: none;
}